<h1 class="text-center">Registro</h1>

<% if (typeof errors != 'undefined') { %> 
    <ul>
    <% errors.forEach((error) => { %>
        <li><%= error.msg %></li>
    <% }) %>
    </ul>
<% } %>


<form action="/register" method="post" class="container mt-3 jumbotron" style="border-radius: 10px;">
    <div class="form-group">
        <div>
        <label class="col-12" for="email">Correo: </label>
        <input class="col-12" type="email" name="email" id="email" required>
        </div>
        <div>
            <label class="col-12" for="password">Contraseña: </label>
            <input class="col-12" type="password" name="password" id="password" minlength="4" required>
        </div>
        <button type="submit" class="btn btn-success mt-3">Enviar</button>
    </div>
</form>