
<%- include ('partials/menu') -%>
<div style="height: 90vh;">
    <h1 class="text-center mb-3">Inicio</h1>
    <hr>
    <h3 class="ml-5">Bienvenidos a la Tienda Anime!!!</h3>
</div>
<!-- <div><%= 2+3 %></div> -->
